<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://fguvvhqvzifnsihhomcv.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_pZW1i4cJYBWhRvIXA_tV5g_7RglHWF5</string>
	<key>GOOGLE_PLACES_API_KEY</key>
	<string>AIzaSyDd9toh1UPmUTeiZCF7dqDo8Sxxwr_tiw4</string>
	<key>GOOGLE_PLACES_KEY</key>
	<string>AIzaSyDd9toh1UPmUTeiZCF7dqDo8Sxxwr_tiw4</string>
	<key>GOOGLE_GEOCODING_API_KEY</key>
	<string>AIzaSyDscJQDC3-5raokP2akRrgWJCHDJaTYOzM</string>
	<key>GOOGLE_ROUTES_API_KEY</key>
	<string>AIzaSyDscJQDC3-5raokP2akRrgWJCHDJaTYOzM</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Minutes Matter uses your location to show fires near you and find evacuation routes.</string>
	<key>CFBundleName</key>
	<string>Minutes Matter</string>
</dict>
</plist>
